.container-form {
    margin-top: 2%;
    flex-direction: column;
}

.container-form-buttons {
    justify-content: space-between;
    width: 20%;
}

.container-menu {
    margin-top: 2%;
    align-items: flex-start;
}
.container-edit,
.container-delete {
    margin-top: 2%;
    align-items: flex-start;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    min-width: 400px;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.2);
}

.styled-table thead tr {
    background-color: #d3d3d3;
    color: #000;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #d3d3d3;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    background-color: #f3f3f3;
}

/* .styled-table tbody tr:hover {
    cursor: pointer;
    font-weight: bold;
    color: #f3f3f3;
    background-color: #778899;
} */
.focused {
    cursor: pointer;
    font-weight: bold;
    color: #f3f3f3;
    background-color: #778899 !important;
}

.styled-table tbody tr:last-child {
    border-bottom: 1px solid #d3d3d3;
}

.form-field-edit {
    width: 30%;
    margin-right: 40px;
}

.form-field-delete {
    width: 30%;
    margin-right: 40px;
}

.button-functional {
    display: inline-block;
    width: 40%;
    margin-right: 0;
}

.button-functional-confirm {
    background-color: #778899;
    color: white;
}

.button-functional-edit {
    width: 10%;
}

.button-functional-delete {
    width: 10%;
}
